<section ng-controller="collaborationPageController">
	<section ng-controller="collaborationPageController">
        <div id="d3-image">
            <img src="https://github.com/mbostock/d3/wiki/pack.png" alt="some_text">
        </div>
        <div class="invited-users-container">
            <div class="add-person"> + Add Person</div>
            <ul class="invited-users">
                <li>Alex</li>
                <li>Elle</li>
                <li>Patrick</li>
                <li>CJ</li>
                <li>Bill</li>
                <li>Rohan</li>
            </ul>
        </div>
    </section>
</section>
