<section class="content container-fluid">
  <div class="row-fluid">
    <div class="widget span8">
    <h2 class="page-title"><i class="icon-bar-chart pull-left"></i> Charts</h2>
      <div id="d3-bubble-chart" class="chart-container"></div>
      <div id="bubble-chart-notes">
          <div class="note1 annotator-outer annotator-viewer">
              <ul class="annotator-widget annotator-listing">
                  <li class="annotator-annotation annotator-item">
                      <span class="annotator-controls">
                          <button title="Edit" class="annotator-edit">Edit</button>
                          <button title="Delete" class="annotator-delete">Delete</button>
                      </span>
                      <div>Wat Wat Wat</div>
                  </li>
              </ul>
          </div>
          <div class="note2 annotator-outer annotator-viewer">
              <ul class="annotator-widget annotator-listing">
                  <li class="annotator-annotation annotator-item">
                      <span class="annotator-controls">
                          <button title="Edit" class="annotator-edit">Edit</button>
                          <button title="Delete" class="annotator-delete">Delete</button>
                      </span>
                      <div>This is so cool!</div>
                  </li>
              </ul>
          </div>
          <div class="note3 annotator-outer annotator-viewer">
              <ul class="annotator-widget annotator-listing">
                  <li class="annotator-annotation annotator-item">
                      <span class="annotator-controls">
                          <button title="Edit" class="annotator-edit">Edit</button>
                          <button title="Delete" class="annotator-delete">Delete</button>
                      </span>
                      <div>We gonna pwn this!</div>
                  </li>
              </ul>
          </div>
      </div>
      <div id="d3-calories-chart" class="chart-container"></div>
      <div id="calories-chart-notes">
          <div class="note1 annotator-outer annotator-viewer">
              <ul class="annotator-widget annotator-listing">
                  <li class="annotator-annotation annotator-item">
                      <span class="annotator-controls">
                          <button title="Edit" class="annotator-edit">Edit</button>
                          <button title="Delete" class="annotator-delete">Delete</button>
                      </span>
                      <div>Wat Wat Wat</div>
                  </li>
              </ul>
          </div>
          <div class="note2 annotator-outer annotator-viewer">
              <ul class="annotator-widget annotator-listing">
                  <li class="annotator-annotation annotator-item">
                      <span class="annotator-controls">
                          <button title="Edit" class="annotator-edit">Edit</button>
                          <button title="Delete" class="annotator-delete">Delete</button>
                      </span>
                      <div>This is so cool!</div>
                  </li>
              </ul>
          </div>
      </div>
      <div id="d3-steps-chart" class="chart-container"></div>
      <div id="steps-chart-notes">
          <div class="note1 annotator-outer annotator-viewer">
              <ul class="annotator-widget annotator-listing">
                  <li class="annotator-annotation annotator-item">
                      <span class="annotator-controls">
                          <button title="Edit" class="annotator-edit">Edit</button>
                          <button title="Delete" class="annotator-delete">Delete</button>
                      </span>
                      <div>Wat Wat Wat</div>
                  </li>
              </ul>
          </div>
          <div class="note2 annotator-outer annotator-viewer">
              <ul class="annotator-widget annotator-listing">
                  <li class="annotator-annotation annotator-item">
                      <span class="annotator-controls">
                          <button title="Edit" class="annotator-edit">Edit</button>
                          <button title="Delete" class="annotator-delete">Delete</button>
                      </span>
                      <div>This is so cool!</div>
                  </li>
              </ul>
          </div>
      </div>
    </div>
    <div class='widget span4'>
      <div class="invited-users-container">
      <h2 class="page-title"><i class="icon-group pull-left"></i> Collaborators</h2>
        <ul class="users-list">
          <li ng-repeat='user in users'><h4><img src="http://www.gravatar.com/avatar/{{ gravatar(user.email) }}" style="border-radius:100%">&nbsp;  {{ user.name }}</h4></li>
        </ul>
        <br>
        <br>
        <form ng-submit='addFriend()'>
          <div class="control-group">
            <div class="row-group">
              <div class="input-append">
              <label for="newPersonName">Name</label>
                <input class="span12" type='text' tabindex="1" ng-model="newPersonName" placeholder='Collaborator' value="" id="newPersonName" />
              <label for="newPersonName">Email</label>
                <input class="span12" type='text' tabindex="2" ng-model="newPersonEmail" placeholder='collaborator@example.com' value="" id="newPersonEmail" />
                <br>
                <button type='submit' class="btn btn-success">Add Collaborators  &nbsp;<i class='icon-plus'></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
