<nav id="sidebar" class="sidebar nav-collapse collapse" ng-controller="HeaderController">
    <ul id="side-nav" class="side-nav">
        <li class="active" ng-show="global.isSignedIn()">
          {{ global.currentUser().name }}
        </li>

        <li ng-hide="global.isSignedIn()">
            <a href="signup"><i class="icon-home"></i> <span class="name">Signup</span></a>
        </li>
        <li ng-hide="global.isSignedIn()">
            <a href="signin"><i class="icon-home"></i> <span class="name">Signin</span></a>
        </li>
        <li ng-show="global.isSignedIn()">
            <a href="signout"><i class="icon-signout"></i> <span class="name">Signout</span></a>
        </li>
    </ul>
</nav>
