<div class="content" ng-controller='VisualsList'>
  <div class="widget">
    <h4 id='upload-response' name='upload-response'></h4>
    <form enctype='multipart/form-data' method='POST' action='/upload' target='upload-response'>
      <div class='fileupload-buttonbar'>
        <input class='btn btn-small fileinput-button' type='file' id='upload-input' />
        <select class="select-block-level">
          <option value="SAP Hana">SAP Hana</option>
          <option value="Clover">Clover</option>
          <option value="Github">Github</option>
          <option value="Twilio">Twilio</option>
        </select>
      </div>
      <button class='btn input-block-level btn-info' type="submit">See the visuals!</button>
    </form>
  </div>
  <div class="widget text-align-center">
    <div class="prev-visuals-list">
      <h3>Previously Created Visualizations</h3>
      <div class="link-wrapper"><a href="#" class="link-to-visualization-picker">
          <div class="name">plant growth cluster analysis</div></a>
        <div class="date">9/7/13</div>
        <div class="data-set"><a href="#">link to data set</a></div>
        <div class="description">some random description of this analysis</div>
      </div>
      <div class="link-wrapper"><a href="#" class="link-to-visualization-picker">
          <div class="name">reddit text data cluster analysis</div></a>
        <div class="date">9/7/13</div>
        <div class="data-set"><a href="#">link to data set</a></div>
        <div class="description">some random description of this analysis</div>
      </div>
      <div class="link-wrapper"><a href="#" class="link-to-visualization-picker">
          <div class="name">distribution of In N Out locations cluster analysis</div></a>
        <div class="date">9/7/13</div>
        <div class="data-set"><a href="#">link to data set</a></div>
        <div class="description">some random description of this analysis</div>
      </div>
      <div class="link-wrapper"><a href="#" class="link-to-visualization-picker">
          <div class="name">field sports injury cluster analysis</div></a>
        <div class="date">9/7/13</div>
        <div class="data-set"><a href="#">link to data set</a></div>
        <div class="description">some random description of this analysis</div>
      </div>
    </div>
  </div>
</div>
