<div class="content container-fluid">
    <div class="row-fluid">
        <div class="span7">
            <section class="widget">
                <div class="body">
                  <h2 class="page-title"><i class="icon-download-alt pull-left"></i> Fileupload</h2>
                    <form enctype='multipart/form-data' method='POST' action='/upload' target='upload-response'>
                        <div class="form-actions fileupload-buttonbar no-margin">
                            <span class="btn btn-small fileinput-button">
                              <i class="icon-plus"></i>
                              <span>Add files...</span>
                              <input type="file" name="files[]" multiple="">
                            </span>
                        </div>
                        <select class='span12'>
                          <option value=''>Bubble Diagram</option>
                          <option value=''>FitBit 1</option>
                          <option value=''>FitBit 2</option>
                          <option value=''>FitBit 3</option>
                        </select>
                        <div class="fileupload-loading"><i class="icon-spin icon-spinner"></i></div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
                        <button type="button" class ="btn btn-primary btn-large start" ng-click="launchModal('/views/vizpick.html')">Viz Type</button>
                        <button type="submit" class="btn btn-primary btn-large start">
                          <i class="icon-upload"></i>
                          <span>Start upload</span>
                        </button>
                    </form>
                </div>
            </section>

        </div>
        <div class="span5">
          <div class="widget">
            <div class="prev-visuals-list">
              <h2 class="page-title">Previously Created Visualizations</h2>
              <div class="link-wrapper"><a href="#" class="link-to-visualization-picker">
                  <div class="name">plant growth cluster analysis</div></a>
                <div class="date">9/7/13</div>
                <div class="data-set"><a href="#">link to data set</a></div>
                <div class="description">some random description of this analysis</div>
              </div>
              <div class="link-wrapper"><a href="#" class="link-to-visualization-picker">
                  <div class="name">reddit text data cluster analysis</div></a>
                <div class="date">9/7/13</div>
                <div class="data-set"><a href="#">link to data set</a></div>
                <div class="description">some random description of this analysis</div>
              </div>
              <div class="link-wrapper"><a href="#" class="link-to-visualization-picker">
                  <div class="name">distribution of In N Out locations cluster analysis</div></a>
                <div class="date">9/7/13</div>
                <div class="data-set"><a href="#">link to data set</a></div>
                <div class="description">some random description of this analysis</div>
              </div>
              <div class="link-wrapper"><a href="#" class="link-to-visualization-picker">
                  <div class="name">field sports injury cluster analysis</div></a>
                <div class="date">9/7/13</div>
                <div class="data-set"><a href="#">link to data set</a></div>
                <div class="description">some random description of this analysis</div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
