<div class="wrap" ng-controller="VizPickController">
  <header>Pick a viz type</header>
  <div class="content container-fluid">
    <div class="row-fluid">
      <span class="span8"><h2>
        Data: </h2></span>
        <span class="span4">{{currentData}}</span>
    </div>
    <div class="row-fluid">
      <span class="span6 widget"> first block</span>
      <span class="span6 widget"> second block</span>
    </div>
    <div class="row-fluid">
      <span class="span6 widget"> first block</span>
      <span class="span6 widget"> second block</span>
    </div>
  </div>
</div>