div.container
  div.list-of-analyses
    div.link-wrapper
      a.link-to-visualization-picker(href='#')
        div.name|plant growth cluster analysis
      div.date
      div.data-set
      div.description
    div.link-wrapper
      a.link-to-visualization-picker(href='#')
        div.name|reddit text data cluster analysis
      div.date
      div.data-set
      div.description
    div.link-wrapper
      a.link-to-visualization-picker(href='#')
        div.name|distribution of In N Out locations cluster analysis
      div.date
      div.data-set
      div.description
    div.link-wrapper
      a.link-to-visualization-picker(href='#')
        div.name|field sports injury cluster analysis
      div.date
      div.data-set
      div.description
