.add-person {
	padding: 5px 0px 5px 15px;
	border-bottom: 1px solid;
}

circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
}

#d3-image svg {
	width: auto;
	height: auto;
	margin: auto;
}