.add-person {
  padding: 5px 0px 5px 15px;
  border-bottom: 1px solid;
}

#d3-bubble-chart {
  overflow: auto;
}

.invited-users li {
  padding-left: 15px;
}

#d3-bubble-chart svg {
  height: auto;
  margin: auto;
}

#LeftLeg1 circle {
  fill: #16a085;
}
#LeftLeg2 circle {
  fill: #27ae60;
}
#LeftLeg3 circle {
  fill: #2980b9;
}
#RightLeg1 circle {
  fill: #8e44ad;
}
#RightLeg2 circle {
  fill: #2c3e50;
}
#RightLeg3 circle {
  fill: #f39c12;
}
#LeftArm1 circle {
  fill: #d35400;
}
#LeftArm2 circle {
  fill: #9b59b6;
}
#LeftArm3 circle {
  fill: #bdc3c7;
}
#RightArm1 circle {
  fill: #e67e22;
}
#RightArm2 circle {
  fill: #3498db;
}
#RightArm3 circle {
  fill: #f1c40f;
}

circle {
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  /*fill: #C71585;*/
  fill-opacity: 1;
}

svg text {
  font: 10px sans-serif;
  /*fill: black;*/
}

#bubble-chart-notes .note1{
  position: relative;
  bottom: 375px;
  left: 200px;
}

#bubble-chart-notes .note2{
  position: relative;
  bottom: 300px;
  left: 379px;
}

#bubble-chart-notes .note3{
  position: relative;
  bottom: 100px;
  left: 125px;
}